@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}
body {
 font-family: 'Bebas Neue', cursive;
 background-color: #8F65D3;
}
p {font-family: Arial, Helvetica, sans-serif;
}
.container {
 max-width: 1200px;
 margin: 0 auto;
}
.header {
	background-image: linear-gradient(
	rgba(0, 0, 0, 0.5)
	rgba(0, 0, 0, 0.5)),
	url(Imagenes/img3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	align-items: center;
	text-align:left;
   }
.menu {
 position: absolute;
 top: 0;
 left: 100;
 right: 0;
 display: flex;
 align-items: right;
 justify-content: space-between;
}
.logo {
 color: #fffdfc;
 font-size: 25px;
}
.menu .navbar ul li {
 position: relative;
 float: left;
}
.menu .navbar ul li a {
 font-size: 30px;
 padding: 20px;
 color: #fffdfc;
 display: block;
}
.menu .navbar ul li a:hover {
 color: #b797b7;
}
#menu {
 display: none;
}
.menu-icono {
 width: 25px;
}
.menu label {
 cursor: pointer;
 display: none;
}
.header-txt {
 width: 50%;
}
.header-content{
    min-height: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header-txt h1 {
 font-size: 90px;
 line-height: 110px;
 color: #fefcfb;
 margin-bottom: 15px;
}
.header-txt p {
 font-size: 16px;
 color: #e0e0e0;
 margin-bottom: 15px;
}
.header__wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
.header{
	height: 100vh;
	background-image:var(--background), url(img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
.btn-1 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #b7975b;
    color: #fefcfb;
    border-radius: 25px;
    font-size: 22px;
   }
   .btn-1:hover {
    background-color: #9e824d;
   }
.contenido{
    display: flex;
    margin: 60px;
}
.titulo{
    text-align: center;
    font-size: 30px;
    line-height: 110px;
    color: #fefcfb;
    margin-bottom: 15px;
}
.articulos{
    width: 100%;
    border-right: 3px solid black;
    justify-content: center;
    
}
.secciones{
    text-align: center;
    align-items: left;
    padding: 40px;
    font-size: large;
    color: #fefcfb;
}
h2{
    text-align: center;
    font-size: 30px;
    color: #fefcfb;
}
.text-justify {
    text-align: justify;
}  

footer{
    width: 100%;
    height: 350px;
    background-color: #3B0792;
    color: white;
    margin-top: 40px;
    margin-bottom: 0px;
}

footer p{
    text-align: center;
    padding: 50px;

}
.footer-content {
    text-align: left;
   }
   .footer-content {
    display: flex;
    text-align: left;
   }
   .footer-form {
    width: 50%;
    text-align: left;
   }
   .footer-txt {
    width: 50%;
   }
   form {
    display: flex;
     width: 350px;
    flex-direction: column;

   }
:root{
   --color-primary:#667eea;
   --color-secondary:#764ba2;
}

.video{
    height: 50%;
}